body {
    height: 100%;
    margin: 0;
}

.editor-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh; 
}

#input, #output {
    flex: 1;
    width: 100%;
    height: 50%;
}


#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}

#counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


@media (min-width: 768px) {
    .editor-container {
        flex-direction: row;
    }

    #input, 
    #output {
        width: 50%;
        height: 100%;
    }
}

