body {
    height: 100%;
    margin: 0;
}

.editor-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh; 
}

#input, #output {
    flex: 1;
}

@media (min-width: 768px) {
    .editor-container {
        flex-direction: row;
    }
}

#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

#counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

